.main{
    background-color: black;
    width: 100%;
}
.officer-group{
    text-align: center;
}
.officer-title{
    color: #bbbbbb;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    z-index: 1;
    margin-left: 10%;
    text-align: left;
    margin-top: 7%;
    margin-bottom: inherit;
}
.officer-subtitle{
    overflow-x: scroll;
    display:flex;
    justify-content: left;
    margin-left: 13%;
    margin-right: 13%;
    background-color: black;
    color: white;
    border-width: 0px;
    outline: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 170%;
    z-index: 1;
}
.year-button{
    white-space: nowrap;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 15px;
    font-size: 22px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    border-color:transparent;
    border-width: 3px;
}