.footer-box{
    position: fixed;
    bottom: 0;
    background-color:white;
    height: 5%;
    width: 98%;
}
.footer-right{
    background-color: blue;
    float: right;
    color: white;
    margin: inherit;
    padding-top: 0.5%;
    padding-left: 3%;
    text-align: right;
    font-size: 1.75rem;
    font-family: 'Times New Roman', Times, serif;
    cursor: default;
} 
.logo{
    margin: inherit;
    width: 3%;
    vertical-align: top;
    display: inline-block;
}